BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 80
AlignTrailingComments: true
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false 
AlwaysBreakTemplateDeclarations: true 
BreakBeforeBraces: Attach
IndentCaseLabels: false
SpaceBeforeParens: ControlStatements
PointerAlignment: Right
SortIncludes: true
IncludeBlocks: Regroup

